@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --charizard1: #fac;
  --charizard2: #ddccaa;
  /* --charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp); */
  --charizardfront: url(https://media.discordapp.net/attachments/800310656947322940/873128714462982144/nor_gate.png?width=320&height=445);
  --pika1: #54a29e;
  --pika2: #a79d66;
  --pikafront: url(https://cdn.discordapp.com/attachments/800310656947322940/873128692224770048/and_and.png);
  /* --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp); */
  --eevee1: #efb2fb;
  --eevee2: #acc6f8;
  --eeveefront: url(https://cdn.discordapp.com/attachments/800310656947322940/873128638822895626/or_gate.png);
  /* --eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp); */
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;
  --mewtwofront: url(https://cdn.discordapp.com/attachments/800310656947322940/873128659777646623/not_gate.png);
  /* --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp); */
}

.card {
  width: 71.5vw;
  height: 100vw;
  position: relative;
  overflow: hidden;
  margin: 20px;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.card.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.card.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.card.eevee {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--eeveefront);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 30%,
    transparent 47.5%,
    transparent 52.5%,
    var(--color2) 70%,
    transparent 100%
  );
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
  animation: none;
  background-image: linear-gradient(
    115deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
  animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
  animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
  animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
.card.eevee:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white,
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover:before,
.card.eevee.active:before {
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    var(--color1) 36%,
    var(--color2) 43%,
    var(--color3) 50%,
    var(--color4) 57%,
    var(--color5) 64%,
    transparent 80%
  );
}

.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .card > span {
  position: relative;
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  -webkit-animation: none;
  animation: none;
}

.demo .card:nth-of-type(1):before,
.demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}
.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}
.demo .card:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
html,
body {
  background-color: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 35%, rgba(219,219,219,1) 100%);
    /* background-color: #333844; */
  color: rgb(43, 43, 43);
  padding: 0;
  z-index: 1;
  transform: translate3d(0, 0, 0.1px);
  height: 100vh;
  overflow-x: hidden;
}

body {
  text-align: center;
}

h1 {
  display: block;
  margin: 30px 0;
  color: white;
  font-weight: 800;
}

p {
  margin-top: 5px;
  font-weight: 200;
}

#app {
  position: relative;
}

.demo,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
  .cards {
    flex-direction: row;
  }
}
/* @media scrren and (max-width:600px){
  .card{
    width: 50vw;
    height: 50vh;
  }
  .cards{
    transform: scale(.5);
  }
} */
.cards .card:nth-child(2),
.cards .card:nth-child(2):before,
.cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.cards .card:nth-child(3),
.cards .card:nth-child(3):before,
.cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.cards .card:nth-child(4),
.cards .card:nth-child(4):before,
.cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
span,
input {
  color: white;
  border: none;
  text-align: center;
  border-bottom: 2px solid rgba(49, 49, 49, 0.5);
  font-size: 1.75em;
  padding: 0.25em 0.5em 0.3125em;
  color: rgba(49, 49, 49, 0.5);
  /* border-radius: 0.25em; */
  background: transparent;
  transition: all 0.1s;
}
span:focus,
input:focus {
  outline: none;
  color: white;
  border-color: rgba(51, 51, 51, 0.75);
}
span.keyup,
input.keyup {
  color: white;
  border-color: rgb(71, 71, 71);
  text-shadow: 0 0 0.125em rgb(102, 102, 102);
  box-shadow: 0 0 0.25em rgb(99, 99, 99), inset 0rgb(88, 88, 88)25em white;
}
canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

::-webkit-input-placeholder {
  color: white;
  text-shadow: 0 0 0.125em transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  color: white;
  text-shadow: 0 0 0.125em transparent;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

input:focus::-moz-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: white;
  text-shadow: 0 0 0.125em transparent;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}

input:focus:-ms-input-placeholder {
  opacity: 0.5;
}

input {
  width: 11em;
  box-sizing: border-box;
}
.btn-click-gate {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  margin-top: 3rem;
  border: solid 2px white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff00;
  cursor: pointer;
  color: white;
  transition: all .5s;
  margin-bottom: 2rem;
}
.btn-click-gate:hover {
  border: solid 1px rgba(255,255,255,0.5);
}
.bg-white {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
.hidden-gate {
  display: none;
}
input[type="text"] {
  color: white;
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
}
input[type=text]::placeholder{
  color: rgba(255, 255, 255, 0.658);
  font-size: 1.2rem;
}
#gateName{
  position: absolute;
  /* margin-top: 30%; */
  color: #a38a00;
  left: 50%;
  bottom: -13%;
  transform: translate(-50%,-50%);
}
@media (max-width: 500px) {
  #gateName{
    display: none;
  }
}
